
@{
    Layout = null;
}
@using ProjectPG.Models
@{
    var sessionCart = (SessionCart)Session["sessionCart"];

}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="description" content="Domowe jedzenie w pysznej cenie" />
    <meta name="keywords" content="dania na zamówienie, domowe jedzenie, zdrowe jedzenie, naturalne składniki, domowa kuchnia, zamów jedzenie, pierogi, kluski, przetwory, weki, Gdańsk, Gdynia, Sopot, Trójmiasto" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
</head>
<body>

    <div id="container">

        <div id="top-menu">
            <div>
                <a class="top-menu-buttons" href="@Url.Content("~/")">Strona główna</a>
                <a class="top-menu-buttons" href="@Url.Action("List", "Offer", new { typename = "wszystko"})">Produkty</a>
            </div>
            <div style="float:right">
                <a class="top-menu-buttons" href="@Url.Action("Cart", "Offer")">Koszyk</a>
                <div id="quantity-div">Ilość pozycji: <spam id="quantity">@sessionCart.order.OrderProduct.Count</spam></div>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div id="logo">

            <div id="logo-txt">NieGotuj!</div>
            <div id="logo-icon">
                <img src="/Content/logoIcon.png" width="150" height="150">
            </div>
            <div style="clear:both;"></div>

        </div>

        <div id="horizontal-bar">...i ciesz się smakiem domowych potraw</div>

        <div>
            @RenderBody()
        </div>


        <div id="footer">
            <div id="footer-menu">
                <a class="footer-buttons" href="@Url.Action("Static", "Home", new { staticname = "kontakt" })">Kontakt</a>
                <a class="footer-buttons" href="@Url.Action("Static", "Home", new { staticname = "regulamin" })">Regulamin</a>
                <a class="footer-buttons" href="@Url.Action("Static", "Home", new { staticname = "dostawcy" })">Dostawcy</a>

                <div style="clear:both;"></div>
            </div>
            <div id="footer-txt">NieGotuj! 2016 &copy; Wszelkie prawa zastrzeżone</div>
        </div>

    </div>

</body>
</html>
